.btn {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 30px;
  color: #ffffff;
  background: linear-gradient(92deg, #4492e0 18%, #c500cc 84%);
  padding: 15px 80px;
  border: solid #040c14 2px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 24px 60px;
  transition: 1606ms;
  transform: translateY(0);
  display: flex;
  flex-direction: row;
  cursor: pointer;
  text-transform: uppercase;
}

.btn:hover {
  transition: 1606ms;
  padding: 10px 55px;
  transform: translateY(-10px);
  background: linear-gradient(92deg, #4492e0 18%, #c500cc 84%);
  color: #ffffff;
  border: solid 2px #0066cc;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  transform: translateY(-10px);
  transition: 1606ms;
  display: none;
  position: absolute;
  background: linear-gradient(92deg, #4492e0 18%, #c500cc 84%);
  min-width: 150px;
  box-shadow: 0px 8px 16px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: #000 double;
  float: left;
  text-align: center;
  padding: 20px;
  border-radius: 60px 24px;
}

.dropdown-content a {
  color: black;
  padding: 14px 20px;
  text-decoration: none;
  display: block;
  border: #000 double;
  font-size: 18;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: table;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

#header1 {
  background: linear-gradient(92deg, #4492e0 18%, #c500cc 84%);
  background-repeat: no-repeat;
  padding: 10px;
  color: rgb(255, 255, 255);
  max-width: 100%;
}
.section1 {
  background: linear-gradient(92deg, #4492e0 18%, #c500cc 84%);
}
.img1 {
  float: right;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
}
.img2 {
  float: left;
  padding-left: 25px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.p1 {
  font-size: 50;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-right: 20px;
  padding-left: 10px;
}
.p2 {
  font-size: 50;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-left: 10px;
}
.video1 {
  float: left;
  padding-right: 20px;
}
.video2 {
  float: right;
  padding-left: 20px;
}
.h22 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
 }


