@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --cor-principal:#E8F9FD;
    --bg-color:#0AA1DD;
    --fonte-principal: 'Montserrat', sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--cor-principal);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--fonte-principal);
}

h1 {
    font-size: 4.7em;
}

h3 {
    font-size: 2.8em;
    margin-top: 22px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--cor-principal);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}